[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
fastapi = "*"
ipython = "*"
python-dotenv = "*"
black = "*"
uvicorn = "*"
langchain = "*"
gtts = "*"
transformers = "*"
tensorflow = "*"
openai = "*"
tiktoken = "*"
chromadb = "*"
python-multipart = "*"
speechrecognition = "*"
pydub = "*"
pylint = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.10"
